*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
menu{
	background: lightblue;
}
menu ul li{
	display:inline-block;
	padding:.3em;
	border-right:1px solid #fefefe;
	position:relative;
}
menu>ul>li:nth-child(3){
	padding:.3em .9em;
	position:relative;
}
menu>ul>li:nth-child(3):after{
	content:"";
	position:absolute;
	right:3px;
	top:48%;
	border:3px solid transparent;
	border-top:5px solid blue;
}
menu ul li:last-child{
	border-right:none;
}
menu ul li div.menu{
    width:600px;
    min-height:400px;
    position:absolute;
    top:28px;
    border:10px solid transparent;
    left:0;
    background:#fff;
    display:none;
    transition:all .5s;
    overflow:;
}

menu li:nth-child(3):hover .menu{
	display:block;
	tansition:all .5s;
}
.menu .paginator,.view{
	float:left;
	height:98%;
	border:1px solid#fefefe;
	margin:3px 0;
}


